body {
    background-color:  #a3c2c2
}

h1{
    color: white;
    font-family: "Arial";
    font-size: 80px;
    position:relative;
    top:5px;
    left:20px;
}

h2{
    color: white;
    font-family: "Arial";
    font-size: 40px;
    font-style:italic;
    position:relative;
    top:90px;
    left:10px;
}

p{
    color: white;
    font-family: "Arial";
    font-size: 20px;
    position:relative;
    width:50%;
    padding-left:20px;
}

p.content {
    size:100px;
}

#particles-js canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

div.links{
	font-size: 50px;
    position:absolute;
    top:1px;
    right:20px;
}

div.imlink span:hover{
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition:.4s;
    background-color: pink;
}


a, a:link{
	color: white;
    text-decoration: none;
    font-family: "Arial";
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

a:visited{
    color: white;
}

a:hover{
	color: pink;
}



.img-circle{
    padding-left:20px;
    border-radius: 60%;
}

/*added this for image fade in on projects page*/


.container {
    position: relative;
    /*width: 50%;*/
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

table{
    padding: 20px;
    width: 60%;
}

td{
    /*border: 15px solid black;;*/
}

.container:hover .middle {
  opacity: 1;
}

.text {
    font-family: "Arial";
  padding-left:10px;
  border-radius: 50%;
  background-color: #a3c2c2;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.project-headers{
    color: white;
    font-family: "Arial";
    font-size: 50px;
    font-style:italic;
    position:relative;
    padding-top: 20px;
    padding: 20px;
    width: 70%;
}

.project-text{
   color: black;
    font-family: "Arial";
    font-size: 16px;
    position:relative;
    padding-left: 20px;
    width: 70%;
}

.project-text-headers{
    text-decoration: underline;
}